################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/mingweiniu.github.io/v16/.suo
/.vs/VSWorkspaceState.json
/.vs
/MyTools/Linux/Try_some_Multimedia/02IDE/out